<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Университет. Вход в учётную запись</title>
</head>
<body>
    <h1 class="title">Вход в систему</h1>
    <a href="registration.html" class="signin_btn">Регистрация</a>

    <form class="form authorization" action="">
        <div class="form-elem">
            <label for="login">Логин</label>
            <input type="text" id="login">
        </div> 
        <div class="form-elem">
            <label for="password">Пароль</label>
            <input type="password" id="password">
        </div>

        <button class="form-button">Вход</button>
    </form>
</body>
</html>