<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Университет. Регистрация</title>
</head>
<body>
    <h1 class="title">Регистрация</h1>
    <a class="signin_btn" href="/">Вход</a>

    <form class="form" action="">
        <div class="form-elem">
            <label for="login">Придумайте логин</label>
            <input type="text" id="login">
        </div> 
        <div class="form-elem">
            <label for="password">Придумайте пароль</label>
            <input type="password" id="password">
        </div> 
        <div class="form-elem">
            <label for="double_password">Повторите пароль</label>
            <input type="password" id="double_password">
        </div> 
        <div class="form-elem">
            <label for="name">ФИО</label>
            <input type="text" id="name">
        </div>
        <div class="form-elem">
            <label for="date">Дата рождения</label>
            <input type="date" id="date">
        </div>
        <div class="form-elem">
            <label for="role">Кем вы являтесь?</label>
            <select id="role">
                <option>Ученик</option>
                <option>Преподаватель</option>
              </select>
        </div>

        <button class="form-button">Зарегестрироваться</button>
    </form>
</body>
</html>